* {background-color:lime;}
 
body {
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    color: royalblue;
 
}
 
 
.header{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: center;
}
 
.info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}